{% extends "layouts/dashboard_base.html" %}

{% block title %}Agora | Settings{% endblock %}

{% block dashboard_content %}
<div class="mt-20 flex flex-col items-center justify-center">
    <div class="max-w-md w-full">
        <div>
            <h1 class="text-center text-2xl font-bold">Agora Settings</h1>

            <form class="space-y-6 mt-10" method="POST" action="/api/v1/agora/settings">
                <div>
                    <label for="email" class="mb-2 font-medium text-sm inline-block">Agora Email</label>
                    <input type="email" id="email" name="agora_email" placeholder="john@agora.fr"
                        value="{{ user.agora_email }}" class="input w-full" />
                </div>
                <div>
                    <label for="password" class="mb-2 font-medium text-sm inline-block">Agora Password</label>
                    <input type="password" id="password" name="agora_password" placeholder="••••••••"
                        class="input w-full" />
                </div>
                <div>
                    <label for="agora_slots" class="mb-2 font-medium text-sm inline-block">Agora Slots</label>
                    <input type="text" id="slots" name="agora_slots" placeholder="19/10/2026, 20/10/2026"
                        value="{{ user.agora_slots }}" class="input w-full " />
                </div>

                <button type="submit" class="btn btn-primary w-full mt-2">
                    Update settings</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
