{% extends "layouts/dashboard_base.html" %}

{% block title %}Agora | Dashboard{% endblock %}

{% block dashboard_content %}
<div class="hero min-h-full">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Agora Automation</h1>
            <p class="pt-6 pb-3">
                This app lets you automate the process of booking activities on Agora Portail Famille.
            </p>
            <p class="pt-3 pb-6">
                To begin, enter your Agora credentials and define activity dates to reserve.
            </p>
            <a class="btn btn-primary" href="{{ url_for('agora_settings_page') }}">Get Started</a>
        </div>
    </div>
</div>
{% endblock %}
