{% extends "layouts/base.html" %}

{% block title %}Agora{% endblock %}

{% block content %}

<div class="min-h-screen flex items-center">
    <div class="card mx-auto w-full max-w-md">
        <div class="py-24 px-10" hx-ext="response-targets">
            <h2 class="text-2xl font-semibold mb-5 text-center">Agora</h2>
            <form method="POST" action="/api/v1/login/access-token?redirect_uri=/"
                hx-post="/api/v1/login/access-token?redirect_uri=/" hx-target="#login-form" hx-swap="innerHTML"
                hx-target-error="#login-errors">
                <div id="login-form" class="mb-4">
                    <div class="mb-4">
                        <label class="input validator w-full">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                                    stroke="currentColor">
                                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                                </g>
                            </svg>
                            <input id="username" name="username" placeholder="john@agora.fr" required autofocus />
                        </label>
                        <p class="validator-hint hidden">Enter a valid email address</p>
                    </div>

                    <div>
                        <label class="input validator w-full">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                                    stroke="currentColor">
                                    <path
                                        d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                                    </path>
                                    <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                                </g>
                            </svg>
                            <input type="password" id="password" name="password" placeholder="••••••••" required />
                        </label>
                        <p class="validator-hint hidden">
                            Password required
                        </p>
                    </div>
                </div>
                <div id="login-errors" role="alert" class="alert alert-error alert-outline mb-4"></div>
                <button type="submit" class="btn mt-2 w-full btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
