<!DOCTYPE html>
<html lang="en" data-theme="nord">

<head>
    <title>{% block title %}Agora{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- DaisyUI and Tailwind CSS -->
    <link href="{{ asset('css/daisyui@5.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/daisyui_themes.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('css/tailwindcss@4') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

</head>

<body>
    {% block content %}{% endblock %}

    <script defer src="{{ asset('js/vendor/htmx.min.js') }}"></script>
</body>

</html>
