{% extends "base.html" %}

{% block content %}
<main class="drawer lg:drawer-open">
    <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
    <section class="drawer-content flex flex-col">
        <!-- Navbar -->
        <nav class="navbar bg-base-100">
            {% include "_navbar.html" %}
        </nav>
        <!-- Page content here -->
        {% block dashboard_content %}{% endblock %}
    </section>
    <aside class="drawer-side">
        <label for="left-sidebar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        {% include "_sidebar.html" %}

    </aside>
</main>
{% endblock %}
