{% extends "base.html" %}

{% block title %}Agora{% endblock %}

{% block content %}

<div class="min-h-screen bg-base-200 flex items-center">

    <div class="card mx-auto w-full max-w-md">
        <div class="py-24 px-10">
            <h2 class="text-2xl font-semibold mb-4 text-center">Agora</h2>
            <form method="POST" action="/api/v1/login/access-token?redirect_uri=/">
                <div class="mb-4">
                    <div class="mb-2">
                        <label class="input validator w-full">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                                    stroke="currentColor">
                                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                                </g>
                            </svg>
                            <input id="username" name="username" placeholder="john@agora.fr" required />
                        </label>
                        <p class="validator-hint hidden">Enter a valid email address</p>
                    </div>

                    <div>
                        <label class="input validator w-full">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                                    stroke="currentColor">
                                    <path
                                        d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                                    </path>
                                    <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                                </g>
                            </svg>
                            <input type="password" id="password" name="password" placeholder="••••••••" required />
                        </label>
                        <p class="validator-hint hidden">
                            Password required
                        </p>
                    </div>
                    <!-- <div class="form-control w-full mt-4">
                        <label class="label">
                            <span class="label-text text-base-content undefined">Email Id
                            </span>
                        </label>
                        <input type="emailId" placeholder="" class="input  input-bordered w-full " value="">
                    </div>
                    <div class="form-control w-full mt-4"><label class="label"><span
                                class="label-text text-base-content undefined">Password</span></label><input
                            type="password" placeholder="" class="input  input-bordered w-full " value=""></div> -->
                </div>
                <button type="submit" class="btn mt-2 w-full btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="mt-20 flex flex-col items-center justify-center">
    <div class="max-w-md w-full">

        <div class="p-6 rounded-lg bg-white md:p-8 dark:bg-neutral-800 dark:border-neutral-700">
            <h1 class="text-slate-900 text-center text-2xl font-bold dark:text-slate-50">Sign in
            </h1>

            <form class="space-y-6 mt-10" method="POST" action="/api/v1/login/access-token?redirect_uri=/">
                <div>
                    <label for="username"
                        class="mb-2 text-slate-900 font-medium text-sm inline-block dark:text-slate-50">Email</label>
                    <input type="email" id="username" name="username" placeholder="john@agora.fr" required
                        class="px-3 py-2.5 text-sm text-slate-900 rounded-md bg-white w-full outline-1 -outline-offset-1 outline-slate-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 dark:text-slate-50 dark:bg-neutral-700 dark:outline-neutral-600" />
                </div>
                <div>
                    <label for="password"
                        class="mb-2 text-slate-900 font-medium text-sm inline-block dark:text-slate-50">Password</label>
                    <input type="password" id="password" name="password" placeholder="••••••••" required
                        class="px-3 py-2.5 text-sm text-slate-900 rounded-md bg-white w-full outline-1 -outline-offset-1 outline-slate-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 dark:text-slate-50 dark:bg-neutral-700 dark:outline-neutral-600" />
                </div>

                <button type="submit"
                    class="w-full py-2 px-3.5 text-sm rounded-md font-semibold cursor-pointer tracking-wide text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">
                    Sign in</button>
            </form>
        </div>

    </div>
</div> -->
{% endblock %}
