<div class="flex-none">
    <label for="left-sidebar-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost drawer-button lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </label>
</div>
<div class="flex-1">

</div>
<div class="flex-none mr-5">
    <!-- <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-field m-1">Theme<svg width="12px" height="12px"
                class="inline-block h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 2048 2048">
                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
            </svg></div>
        <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
            <li><input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Light"
                    value="light" /></li>
            <li><input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Dark"
                    value="dark" /></li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Corporate"
                    value="corporate" />
            </li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Forest"
                    value="forest" />
            </li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Pastel"
                    value="pastel" />
            </li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Business"
                    value="business" />
            </li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Winter"
                    value="winter" />
            </li>
            <li>
                <input onclick="document.activeElement.blur()" type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Nord"
                    value="nord" />
            </li>
        </ul>
    </div> -->
</div>
